---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import HighlightedText from "../components/HighlightedText.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
    <Hero>
        About
        <HighlightedText>me</HighlightedText>
    </Hero>
    <Section className="flex flex-col py-4 pb-8">
        <div class="text-gray-600 dark:text-gray-400 flex flex-col items-start gap-2">
            <div class="py-4">
                <span class="text-xs text-gray-400 font-mono">/* work related (basically informal cv) */</span>
                <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">Software Engineer</h2>
            </div>
            <h5 class="font-bold">JetBrains.</h5>
            <p>
                Currently I am working at JetBrains as an intern under the WebStorm team on my JSEval plugin. I've got
                to say that this environment has been one of the most motivating ones I have ever been in. (WIP)
            </p>
            <h5 class="font-bold">Manometric.</h5>
            <p>
                As a former Software and QA engineer at Manometric, I was responsible for assuring the quality of its
                services by providing extensive end-to-end automatic testing as well as unit and component tests.
                Additionally, I maintained several automations within its communication systems. I worked there for two
                months over the summer of 2024.
            </p>
            <h5 class="font-bold">Delft Hyperloop.</h5>
            <p>
                During my time at
                <a href="https://www.delfthyperloop.nl/delft-hyperloop" target="_blank" class="text-purple-500">
                    Delft Hyperloop
                </a>
                , as part of the Sense & Control department, I was responsible for
                developing the GUI for monitoring and controlling the Hyperloop pod. The process involved careful
                designing of the software architecture and communication with my fellow Embedded Engineers who
                programmed internal control of the pod.
            </p>
            <p>
                Within this context of mission critical software and its timeliness and liveness constraints, the speed
                and reactivity of the front end were vital. The GUI was built to sustain constant flow of data while
                also allowing for near instant control back to the running pod.
            </p>
            <p>
                My work at Delft Hyperloop continues to this day as an Alumni who brings advice and help for the next
                generations of teams. The Serpenta standard and GUI got another maintainer in the name of
                <a target="_blank" href="https://www.linkedin.com/in/harald-toth-849a60197/" class="text-purple-500">
                    Harald Toth</a>.
                His brilliant work on the software of Delft Hyperloop 9 together with that of
                <a target="_blank" href="https://www.andreats.com/" class="text-purple-500">Andreas Tsatsanis</a>,
                in my opinion, was crucial for DH09 success in achieving the well-deserved first place in the
                European Hyperloop Week 2025.
            </p>
        </div>
    </Section>
    <Section className="flex flex-col py-4">
        <div class="text-gray-600 dark:text-gray-400 flex flex-col items-start gap-4">
            <div class="py-4">
                <span class="text-xs text-gray-400 font-mono">// personal, hobby, etc</span>
                <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">As a person</h2>
            </div>
            <h5 class="font-bold">Hobbies.</h5>
            <p>
                I love skateboarding, history and bike-riding. I also find drumming quite exciting. Right now I am
                trying ot learn "Smells like Teen Spirit" by Nirvana.
            </p>

            <h5 class="font-bold">Music.</h5>
            <p>
                I am a big fan of rap music, more specifically: Eminem, JPEGMAFIA and Joey Valence & Brae. Hereby, I
                include that I do not condemn or condone their political beliefs or similar, and I am only listening to
                their music.
            </p>
            <p>
                Nevertheless, I also love metal core: Bring Me the Horizon, especially their "POSTHUMAN: SURVIVAL HORROR"
                album.
            </p>
            <p>
                I don't know exactly what genre are Glass Animals... but I love them as well.
            </p>
            <p>
                In case you are open to listening to Bulgarian music, definitely recommend Grigovor and Gena.
            </p>

            <h5 class="font-bold">Background.</h5>
            <p>
                I was born in Burgas, Bulgaria in 2003. In school, I fell in love with math and lego. Honestly, I was
                thinking of becoming an architect... but then I played Minecraft for the first time (quite fitting).
                Five years later I tried making my own game in GameMaker Studio following the tutorials of Heartbeast.
                To this day, I remember their words <em>(which I am going to rephrase since I don't remember them exactly)</em>:
            </p>
            <q>I love programming because it let's me create my own world.</q>
            <p>
                These words resonated with me, and just before 8th grade I started learning web development. I started
                High-school in the Mathematical School in my city. There I learned more programming languages and
                algorithms, but I was really keen on studying myself in my free time.
            </p>
            <p>
                After a couple of failed attempts on competitions earlier, in 11th grade I founded team Praxidike
                together with three fellow friends of mine. We won 4 competitions on local and national level, being
                qualified for the global NASA Challenge.
            </p>
            <p>
                After finishing high school, I enrolled in the Computer Science & Engineering bachelor of TU Delft.
                In my second year there I joined the Honours Programme of the university with a GPA of 8.7.

                wip.
            </p>
        </div>
    </Section>
</BaseLayout>