---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import AboutCard from "../components/AboutCard.astro";
import Hero from "../components/Hero.astro";
import HighlightedText from "../components/HighlightedText.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout>
    <Hero cta={true} subtitle="# computer science student @ TUDelft">
        Hello, I am <HighlightedText>Kiril Panayotov</HighlightedText>
    </Hero>

    <Section className="bg-gray-50 dark:bg-surface-950 flex flex-col xl:grid xl:grid-cols-2 py-16">
        <div class="text-gray-600 dark:text-gray-400 flex flex-col items-start gap-3">
            <div class="py-4">
                <span class="text-xs text-gray-400 font-mono">// all kinds of things</span>
                <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">About me</h2>
            </div>
            <p><b>Greetings.</b> I am a Software Engineer, Intern at WebStorm team in JetBrains.</p>
            <p><b>Student: </b>I graduated my bachelor's degree at TU Delft in Computer Science & Engineering (with
                Cum Laude). During my three-year-long bachelor's, I worked on the Delft Hyperloop project, worked
                for the university in developing internal software and was a Teaching Assistant for the course
                "Concept of Programming Languages".</p>
            <p><b>Delft Hyperloop: </b> As a (former) Front End engineer at DH08, I developed the
                <a class="text-purple-900" href="https://delft-hyperloop.github.io/serpenta/home.html" target="_blank">Serpenta GUI</a>
                - a graphical user interface for monitoring and controlling the magnetically-levitating hyperloop pod.</p>
            <a href="/about" class="font-mono text-primary dark:text-secondary underline mt-4">continue ></a>
        </div>

        <div class="p-14 flex flex-col gap-8 justify-center ">
            <AboutCard title="Software Developer" subtitle="at JetBrains, member of WebStorm team." />
            <AboutCard title="Student" subtitle="at TU Delft Computer Science (MSc)" />
        </div>
    </Section>

    <Section>
        <div class="py-4">
            <span class="text-xs text-gray-400 font-mono">/* from notes to articles */</span>
            <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">Blog</h2>
        </div>

        <div class="flex gap-4 wrap">
            {allPosts.sort((a, b) => {
                const aDate = new Date(a.frontmatter.pubDate);
                const bDate = new Date(b.frontmatter.pubDate);
                return bDate.getTime() - aDate.getTime();
            }).map((post) =>
                <BlogPost url={post.url}
                          frontmatter={post.frontmatter}
                />
            )}
        </div>
    </Section>
</BaseLayout>
