---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.svelte";
import AboutCard from "../components/AboutCard.astro";
import Hero from "../components/Hero.astro";
import HighlightedText from "../components/HighlightedText.astro";
---

<BaseLayout>
    <Hero cta={true} subtitle="# computer science student @ TUDelft">
        Hello, I am <HighlightedText>Kiril Panayotov</HighlightedText>
    </Hero>

    <Section className="bg-gray-50 dark:bg-surface-950 flex flex-col md:grid md:grid-cols-2 py-16">
        <div class="text-gray-600 dark:text-gray-400 flex flex-col items-start gap-2">
            <div class="py-4">
                <span class="text-xs text-gray-400 font-mono">// all kinds of things</span>
                <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">About me</h2>
            </div>
            <p><b>Greetings,</b> I am a Software Engineer, currently working as an intern in Manometric, NL. I am
                responsible for assuring the quality of its services by providing extensive end-to-end automatic
                testing as well as unit and component tests. Additionally, I maintain several automations within its
                communication systems.
            </p>
            <p><b>Student: </b>The university I am currently in is TU Delft where I am doing my 3rd year of its Computer
                Science & Engineering bachelor. I am also doing its its honours programme where I am doing research on
                Analysing Technical Debt in the era of LLM.</p>
            <p><b>Delft Hyperloop: </b> As a former Front End engineer at DH08, I developed the Serpenta GUI - a
                graphical user interface for monitoring and controlling the magnetically-levitating hyperloop pod.</p>
            <p><b>Praxidike: </b> As the leader of team Praxidike, I organize and manage its open-source projects.</p>
            <a href="/about" class="font-mono text-primary dark:text-secondary underline mt-4">continue ></a>
        </div>

        <div class="p-14 flex flex-col gap-8 justify-center ">
            <AboutCard title="Student" subtitle="at TU Delft Computer Science & Engineering" />
            <AboutCard title="Research" subtitle="in Software Quality (as part of honours programme)" />
            <AboutCard title="Software Developer" subtitle="at Manometric, Delft Hyperloop, Cargomatters ltd." />
        </div>
    </Section>

    <Section>
        <div class="py-4">
            <span class="text-xs text-gray-400 font-mono">/* from notes to articles */</span>
            <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">Blog</h2>
        </div>

        <p>well it's currently empty :(</p>
    </Section>
</BaseLayout>
