---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.svelte";
import AboutCard from "../components/AboutCard.astro";
---
<html data-testid="html" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>zakrok.dev</title>
</head>

<BaseLayout>
    <Section>
        <img alt="" src="elipse_blur_light.svg" class="relative inline dark:hidden top-[250px] left-[-300px] -z-10">
        <img alt="" src="elipse_blur_dark.svg" class="relative hidden dark:inline top-[250px] left-[-300px] -z-10">
        <span class="text-sm text-gray-400 font-mono"># computer science student @ TUDelft</span>
        <h1 class="my-2 mb-8 text-4xl font-mono font-bold">
            Hello, I am <span class="text-primary dark:text-secondary">Kiril Panayotov</span>
        </h1>
        <div class="flex flex-wrap gap-2 items-center">
            <a href="/portfolio"
               class="btn btn-primary dark:btn-secondary text-white">
                Explore my Work >
            </a>
            <a href="/blog" class="underline">browse my recent blog posts ></a>
        </div>
    </Section>

    <Section className="bg-gray-50 dark:bg-surface-950 flex flex-col md:grid md:grid-cols-2 py-16">
        <div class="text-gray-600 dark:text-gray-400 flex flex-col items-start gap-2">
            <div class="py-4">
                <span class="text-xs text-gray-400 font-mono">// all kinds of things</span>
                <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">About me</h2>
            </div>
            <p><b>Greetings,</b> I am a Software Engineer, currently working as an intern in Manometric, NL. I am
                responsible for assuring the quality of its services by providing extensive end-to-end automatic
                testing as well as unit and component tests. Additionally, I maintain several automations within its
                communication systems.
            </p>
            <p><b>Student: </b>The university I am currently in is TU Delft where I am doing my 3rd year of its Computer
                Science & Engineering bachelor. I am also doing its its honours programme where I am doing research on
                Analysing Technical Debt in the era of LLM.</p>
            <p><b>Delft Hyperloop: </b> As a former Front End engineer at DH08, I developed the Serpenta GUI - a
                graphical user interface for monitoring and controlling the magnetically-levitating hyperloop pod.</p>
            <p><b>Praxidike: </b> As the leader of team Praxidike, I organize and manage its open-source projects.</p>
            <a href="/about" class="font-mono text-primary dark:text-secondary underline mt-4">continue ></a>
        </div>

        <div class="p-14 flex flex-col gap-8 justify-center ">
            <AboutCard title="Student" subtitle="at TU Delft Computer Science & Engineering" />
            <AboutCard title="Research" subtitle="in Software Quality (as part of honours programme)" />
            <AboutCard title="Software Developer" subtitle="at Manometric, Delft Hyperloop, Cargomatters ltd." />
        </div>
    </Section>

    <Section>
        <div class="py-4">
            <span class="text-xs text-gray-400 font-mono">/* from notes to articles */</span>
            <h2 class="text-3xl font-semibold font-mono text-surface-900 dark:text-white">Blog</h2>
        </div>

        <p>well it's currently empty :(</p>
    </Section>
</BaseLayout>

<footer class="mt-40 h-40 bg-surface-900 text-surface-100 font-mono flex justify-center items-center gap-4">
    <p>zakrok.dev ❤</p>
    <p>all rights reserved</p>
    <p>foss at <a href="https://github.com/Zakrok09/zakrok.dev">GitHub</a></p>
</footer>

</html>
