---
const {cta, subtitle} = Astro.props;
---

<section class="py-20 px-4 md:px-20 lg:px-40 xl:px-96 mt-[-100px]">
    <img alt="" src="/elipse_blur_light.svg" class="relative inline dark:hidden top-[250px] left-[-300px] -z-10">
    <img alt="" src="/elipse_blur_dark.svg" class="relative hidden dark:inline top-[250px] left-[-300px] -z-10">
    <span class="text-sm text-gray-400 font-mono">{subtitle}</span>
    <h1 class="my-2 mb-8 text-4xl font-mono font-bold">
        <slot />
    </h1>
    {
        cta &&
        <div class="flex flex-wrap gap-2 items-center">
            <a href="/portfolio"
               class="btn btn-primary dark:btn-secondary text-white">
                Explore my Work >
            </a>
            <a href="/blog" class="underline">browse my recent blog posts ></a>
        </div>
    }
</section>
