---
import Header from '../components/Header.astro'
---

<Header />

<main class="font-mono text-neutral-200 bg-base-100
             py-4 px-4
             md:px-20
             lg:px-40
             xl:px-96 pt-40">
	<slot />
</main>
