---
import Header from '../components/Header.astro'
---

<!-- Theme switcher -->
<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
</script>

<Header />

<main class="font-mono text-gray-900 bg-neutral-50 dark:text-white dark:bg-base-100
             py-4 px-4
             md:px-20
             lg:px-40
             xl:px-96 pt-40">
    <slot />
</main>
