---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme"))
            return localStorage.getItem("theme");

        if (window.matchMedia("(prefers-color-scheme: dark)").matches)
            return "dark";

        return "dark";
    })();

    if (theme === "light") document.documentElement.classList.remove("dark");
    else document.documentElement.classList.add("dark");

    window.localStorage.setItem("theme", theme);
</script>

<html data-testid="html" lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/ogmeta.png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1008" />
    <meta property="og:alt" content="Zakrok.dev website. TU Delft student." />
    <meta name="theme-color" content="#EFDF4D" />
    <meta property="og:description" content="Personal website of Kiril Panayotov - Honours student at TU Delft CSE, ">
    <meta property="og:title" content="zakrok.dev" />
    <meta name="twitter:card" content="summary_large_image">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>zakrok.dev</title>
</head>
<body
    class="bg-surface-50 text-surface-800 dark:bg-surface-900 dark:text-neutral-300 transition-colors overflow-x-hidden over">
<Header />

<main>
    <slot />
</main>

<footer class="w-screen mt-40 h-40 bg-surface-900 text-surface-100 font-mono flex justify-center items-center gap-4">
    <p>zakrok.dev ❤</p>
    <p>all rights reserved</p>
    <p>foss at <a href="https://github.com/Zakrok09/zakrok.dev">GitHub</a></p>
</footer>

</body>
</html>
