---
import Header from "../components/Header.astro";

import '../styles/global.css'
---

<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme"))
            return localStorage.getItem("theme");

        if (window.matchMedia("(prefers-color-scheme: dark)").matches)
            return "dark";

        return "light";
    })();

    if (theme === "light") document.documentElement.classList.remove("dark");
    else document.documentElement.classList.add("dark");

    window.localStorage.setItem("theme", theme);
</script>

<body
    class="bg-surface-50 text-surface-800 dark:bg-surface-900 dark:text-neutral-300 transition-colors overflow-x-hidden over">
<Header />

<main>
    <slot />
</main>
</body>
