---

---

<div class="col-span-4 flex flex-col row-start-1
                md:col-span-6 md:gap-12
                xl:col-span-12 xl:grid xl:grid-cols-12 xl:gap-6">

    <!--// should be used in a grid-->
    <slot />

</div>
