---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <img alt="" src="/elipse_blur_light.svg" class="absolute inline dark:hidden top-[-40px] left-0 -z-10">
    <img alt="" src="/elipse_blur_dark.svg" class="absolute hidden dark:inline top-[-40px] left-0 -z-10">
    <article class="prose dark:prose-invert max-w-none py-20 mx-4 md:mx-20 lg:mx-40 xl:mx-96">
        <span class="text-sm text-gray-400 font-mono"><em>/*  {frontmatter.subtitle} */</em></span>
        <h1 class="text-primary dark:text-secondary mb-2 font-mono">{frontmatter.title}</h1>
        <span class="text-gray-400 font-mono">Published on: {frontmatter.pubDate.toString().slice(0,10)}</span>
        <slot />
    </article>
</BaseLayout>
