---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <article class="prose max-w-none py-20 mx-4 md:mx-20 lg:mx-40 xl:mx-96">
        <span class="text-sm text-gray-400 font-mono"><em>/*  {frontmatter.subtitle} */</em></span>
        <h1 class="font-semibold text-xl lg:text-3xl xl:text-4xl text-purple-900 mb-2 font-mono">{frontmatter.title}</h1>
        <span class="text-gray-400 block mb-8 font-mono">Published on: {frontmatter.pubDate.toString().slice(0,10)}</span>
        <slot />
    </article>
</BaseLayout>
